/* Group.css */

.dashboard {
  display: flex;
  height: fit-content;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  padding: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* color: palevioletred; */
}

#room-name{
  color: #999;
  /* font-family:cursive; */
  color: darkseagreen;
  font-size: xxx-large;
}

.grid-item.first-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 30px; */
  /* box-shadow: 0px 0px 6px 8px darkgray; */
}

.button-container {
  display: flex;
  gap: 10px;
}

.orange-button {
  background-color: #ff652f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.green-button {
  background-color: #5bc5a7;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.expenses-list {
  margin-top: 20px;
}

.expense-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
  position: relative;
}

.expense-date {
  width: 100px;
  text-align: center;
  font-size: 14px;
  color: #999;
}

.expense-description {
  flex: 0.5;
  margin-left: 20px;
  font-weight: bold;
  /* text-decoration: underline; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #2d3436;
}

.expense-amount {
  width: 100px;
  text-align: right;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  color: #2d3436;
}

.expense-payer {
  width: 150px;
  text-align: center;
  color: grey;
  font-size: small;
  border: 2 px solid aqua;
  margin-bottom: 10px;
}

.delete-div{
margin-left: 10px;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color:gray;
  font-size: 20px;
  cursor: pointer;
  visibility: hidden;
  border-bottom: red 2px solid;
}

.expense-item:hover .delete-button {
  visibility: visible;
}

@media (max-width: 768px) {
  .expense-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .expense-date,
  .expense-amount,
  .expense-payer {
    width: auto;
    text-align: left;
  }

  .expense-description {
    margin-left: 0;
  }
}

.additional-content {
  margin: 8rem 5rem 0 5rem;
  width: 10%;
  height: initial;
  /* background-color: grey; */
}

.balance-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.summary-item {
  display: grid;
  width: 121px;
  height: 40px;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 0 0 0;
  /* color: #ff652f; */
  border-radius: 5px;
  font-size: 1rem;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
}

.user-balance {
  font-size: 14px;
}

/* Group.css */

/* Styles for summary items */
.summary-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  height: fit-content;
  margin-bottom: 15px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toggle-btn{
  background-color: hotpink;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  text-decoration: dashed;
  margin-bottom: 10px;
  font-weight: bold;
  width:145px
}

.summary-item:hover {
  background-color: #e9ecef;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.expense-item {
  cursor: pointer; /* Show pointer cursor on hover to indicate clickability */
}

.collapsible-content {
  padding: 10px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 4px;
}

.expense-split-info {
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.expense-split-info:last-child {
  border-bottom: none;
}