.group-creation-container {
  max-width: 500px;
  margin: 20px 10px 25px 500px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 70vh;
}

.form-group {
  margin-bottom: 20px;
}

.group-div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.member-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.member-inputs input {
  flex: 1;
}

.member-inputs button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button.save-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button.save-button:hover {
  background-color: darkorange;
}
