.dashboard {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}

#heading{
  font-size: xxx-large;
  color: darkseagreen;
}
.additional-content .dashboard {
  margin-left: 60px;
  padding: 100px; /* Padding for additional content */
  border: 3px double black; /* Blue border */
}

.content {
  /* background-color: #f0f0f0; */
  padding: 20px;
  border-radius: 8px;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.grid-item {
  padding: 0px 20px 0 20px;
  border-radius: 8px;
  display: flex; /* Use flexbox for one-line layout */
  align-items: center; /* Align items vertically */
  justify-content: space-between;
}

.first-grid {
  font-weight: bold;
}

#dash-exp {
  display: flex;
  min-height: 60vh;
}

#dash-exp #left-side, #right-side {
  flex: 2;
  flex-direction:column;
  padding-top: 20px;
  display:flex;
}

#left-side{
  padding-left: 40px;
}
#left-side button{
  background-color:grey;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#right-side{
  padding-right: 40px;
}

#right-side button{
  background-color: grey;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#left-side button:disabled{
  background-color: #5fcddf;
  cursor: not-allowed;
}

#right-side button:disabled{
  background-color: #5fcddf;
  cursor: not-allowed;
}
.dash-btn{
  background-color: #ff652f;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.inner-side-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-div{
  padding-left: 30px;
}

#exp-header {
  display: flex;
  justify-content: space-evenly;
}

.second-grid {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr; /* Three columns with equal width */
  gap: 10px; /* Gap between grid items */
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.second-grid div {
  justify-content: center;
  align-items: center;
}

.grid-item h3 {
  margin-right: 10px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.orange-button,
.green-button {
  background-color: #ff652f;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.green-button {
  background-color: #5bc5a7;
}